<a href="https://colab.research.google.com/github/keertu24/databricks_1/blob/google-collab/69_data_skewness.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ColabSpark") \
    .getOrCreate()

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/Pyspark_file/Baby_Names.csv",header=True,inferSchema=True)
df.show()

+----+----------+-----------+---+-----+
|Year|First Name|     County|Sex|Count|
+----+----------+-----------+---+-----+
|2007|      ZOEY|      KINGS|  F|   11|
|2007|      ZOEY|    SUFFOLK|  F|    6|
|2007|      ZOEY|     MONROE|  F|    6|
|2007|      ZOEY|       ERIE|  F|    9|
|2007|       ZOE|     ULSTER|  F|    5|
|2007|       ZOE|WESTCHESTER|  F|   24|
|2007|       ZOE|      BRONX|  F|   13|
|2007|       ZOE|   NEW YORK|  F|   55|
|2007|       ZOE|     NASSAU|  F|   15|
|2007|       ZOE|       ERIE|  F|    6|
|2007|       ZOE|    SUFFOLK|  F|   14|
|2007|       ZOE|      KINGS|  F|   34|
|2007|       ZOE|     MONROE|  F|    9|
|2007|       ZOE|     QUEENS|  F|   26|
|2007|       ZOE|     ALBANY|  F|    5|
|2007|     ZISSY|   ROCKLAND|  F|    5|
|2007|     ZISSY|      KINGS|  F|   27|
|2007|      ZION|      KINGS|  M|   15|
|2007|      ZION|      BRONX|  M|   14|
|2007|       ZEV|   ROCKLAND|  M|    6|
+----+----------+-----------+---+-----+
only showing top 20 rows

In [ ]:
df.rdd.getNumPartitions()

1

In [ ]:
from pyspark.sql.functions import spark_partition_id
df1=df.repartition(8).withColumn("partitionId",spark_partition_id()).groupBy("partitionId").count()
df1.show()

+-----------+-----+
|partitionId|count|
+-----------+-----+
|          0| 6531|
|          1| 6531|
|          2| 6532|
|          3| 6532|
|          4| 6532|
|          5| 6532|
|          6| 6531|
|          7| 6531|
+-----------+-----+

In [ ]:
df2=df.repartition(20).withColumn("partitionId",spark_partition_id()).groupBy("partitionId").count()
df2.show()

+-----------+-----+
|partitionId|count|
+-----------+-----+
|          0| 2613|
|          1| 2612|
|          2| 2612|
|          3| 2612|
|          4| 2612|
|          5| 2612|
|          6| 2612|
|          7| 2612|
|          8| 2612|
|          9| 2613|
|         10| 2613|
|         11| 2613|
|         12| 2613|
|         13| 2613|
|         14| 2613|
|         15| 2613|
|         16| 2613|
|         17| 2613|
|         18| 2613|
|         19| 2613|
+-----------+-----+