<a href="https://colab.research.google.com/github/keertu24/databricks_1/blob/google-collab/Performance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .master("local[*]")
    .appName("Colab-PySpark")
    .getOrCreate()
)

sc = spark.sparkContext

In [ ]:
sc.defaultParallelism

2

In [ ]:
from pyspark.sql.types import IntegerType

df = spark.createDataFrame(range(10), IntegerType())

df.rdd.getNumPartitions()

2

In [ ]:
df.rdd.glom().collect()

[[Row(value=0), Row(value=1), Row(value=2), Row(value=3), Row(value=4)],
 [Row(value=5), Row(value=6), Row(value=7), Row(value=8), Row(value=9)]]

In [ ]:
df1=df.repartition(20)

In [ ]:
df1.rdd.glom().collect()

[[],
 [],
 [],
 [],
 [Row(value=7)],
 [Row(value=5)],
 [Row(value=6)],
 [Row(value=8)],
 [Row(value=9)],
 [Row(value=3)],
 [Row(value=0)],
 [Row(value=2)],
 [Row(value=4)],
 [Row(value=1)],
 [],
 [],
 [],
 [],
 [],
 []]